@model string[]
@{
    ViewData["Title"] = "Files";
}

<h1>Files</h1>

@if(Model.Length == 0)
{
    <p>No files!</p>
}
else
{
    <ul>
    @foreach(var file in Model)
    {
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Download" asp-action="GetFile" asp-route-fileName="@file.Replace("Files/", "")">@file.Replace("Files/", "")</a></li>
    }
    </ul>
}