@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .NET Modernization Day</h1>
    <p>Local time is @DateTime.Now</p>
    <p>UTC time is @DateTime.UtcNow</p>

</div>
